@import '../../sass/variables/variables';

html {
  height: 100%;
}

body {
  background-color: $primary-color;
}

.container {
  border: 1px solid rgba(142, 145, 177, 0.5);
  border-bottom: 0;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
  max-width: 818px;
}

.login-container {
  padding: 30px 0 0;
}
